* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  width: 100%;
  color: #A70000;
}

.center-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;  /* This ensures that the links container expands to take up all available space */
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* This centers the links container in the header */
}

.center-links a {
  padding: 15px 15px;
  color: #A70000;
  font-size: 20px;
  margin: 0 40px;
  font-weight: bold;
}

.header-left .logo {
  margin: 10px;
  width: 130px;
  height: auto;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-right .span-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.header-right .name,
.header-right .limit {
  margin: 5px 0;
  color: #A70000;
  font-size: 16px;
}

.header-right a {
  color: #A70000;
  margin-left: 20px;
  text-decoration: none;
  margin-right: 20px;
}

.header-right select {
  padding: 5px;
  background-color: #A70000;
  color: white;
  border: none;
  border-radius: 5px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  padding: 20px 0;
}

.content {
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  height: 400px;
  background-color: #07294d;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 80px;
}

.option {
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
}

.option img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  margin-bottom: 10px;
}

.option-text {
  font-size: 16px;
  color: white;
  margin-top: 5px;
  font-weight: 600;
}

.option1 { background-color: #feb600; }
.option2 { background-color: #4CAF50; }
.option3 { background-color: #eb6666; }
.option4 { background-color: #54bad9; }

.option:hover {
  transform: scale(1.1);
}


.language-switcher {
  display: inline-block;
  margin-left: 10px;
}

.lang-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}

.lang-btn img {
  width: 40px;
  border: 2px solid black;
  border-radius: 3px;
  
}
