
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="icon" href="{% static 'appointment_app/assets/tittle_icon.png' %}" type="image/png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'appointment_app/css/style.css' %}">
</head>
<body>
  <div class="wrapper">
    <h2>პაროლის აღდგენა</h2>
    <br>
    <h4 style="color:white ;">შეიყვანეთ თქვენი ელფოსტა და ჩვენ გამოგიგზავნით ბმულს პაროლის აღსადგენად.</h4>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="input-box">
            {{ form.email }}
          </div>
        <div class="input-box button">
            <input type="submit" value="პაროლის აღდგენა">
          </div>
    </form>
  </div>
</body>
<script>
    var form_fields = document.getElementsByTagName('input');
    form_fields[1].placeholder='ელ.ფოსტა...';
  
    for (var field in form_fields){	
        form_fields[field].className += ' form-control';
    }
  </script>
</html>
