    <!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>პაროლის ცვილება</title>
    <link rel="icon" href="{% static 'appointment_app/assets/tittle_icon.png' %}" type="image/png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'appointment_app/css/style.css' %}">
</head>
<body>
  <div class="wrapper" style="max-width: 550px;">
    <h2>დააყენეთ ახალი პაროლი</h2>
    <br>
    



    
  </div>
</body>
<script>
    var form_fields = document.getElementsByTagName('input');
    form_fields[1].placeholder='ახალი პაროლი...';
    form_fields[2].placeholder='გაიმეორეთ ახალი პაროლი...';
  
    for (var field in form_fields){	
        form_fields[field].className += ' form-control';
    }
  </script>
</html>
