
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="icon" href="{% static 'appointment_app/assets/tittle_icon.png' %}" type="image/png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'appointment_app/css/style.css' %}">
</head>
<body>
  <div class="wrapper">
    <h2>შეამოწმეთ თქვენი ელფოსტა</h2>
    <br>
<p style="color:white">თუ ამ ელ.ფოსტით ანგარიში არსებობს, პაროლის აღდგენის ბმული გაიგზავნილია.</p>
  </div>
</body>
</html>
