
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="icon" href="{% static 'appointment_app/assets/tittle_icon.png' %}" type="image/png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'appointment_app/css/style.css' %}">
</head>
<body>
  <div class="wrapper" style="max-width: 550px;">
    <h2>პაროლის ცვლილება წარმატებით დასრულდა.</h2>
    <br>
<h4 style="color:white">თქვენი პაროლი წარმატებით შეიცვალა, შეგიძლიათ შეხვიდეთ ანგარიშზე -<a href="{% url 'login' %}" style="    color: #A70000;
    text-decoration: none;
"> ანგარიშზე შესვლა</a></h4>
  </div>
</body>
</html>